:root {
  --card-primary-color: #fdf6af;
  --card-secondary-color: #102927;
}
#categorycard {
  place-self: center;
  background-color: var(--card-primary-color);
  padding: 2em;
  width: 100%;
  border: solid 4px var(--card-secondary-color);
  border-radius: 20px;
  transition: 0.3s;
}
#categorycard,
a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#categorycard:hover {
  scale: 0.95;
  opacity: 0.9;
}
figure {
  width: fit-content;
}
h2 {
  text-align: center;
  width: 100%;
}
img {
  width: 5rem;
}
.category-link,
.category-link:hover {
  text-decoration: under;
  color: var(--secondary-color);
}
