section {
  place-self: center;
  background-color: gray;
  padding: 2em;
  width: 100%;
  border: solid 4px black;
  border-radius: 20px;
  transition: 0.3s;
}
section,
a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
a:hover {
  color: white;
}
section:hover {
  scale: 0.95;
  opacity: 0.9;
}
figure {
  width: fit-content;
}
h2 {
  text-align: center;
  width: 100%;
}
img {
  width: 5rem;
}
.category-link {
  text-decoration: under;
  color: white;
}
